{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block body_id %}page-edit{% endblock %}

{% block title %}Edit profile{%endblock%}

{% block content %}

    <h1>Edit profile</h1>

    <ul class="breadcrumbs">
        <li>
            <a href="{% url 'home' %}">Home</a>
            <span class="separator">-></span>
        </li>
        <li>Edit profile</li>
    </ul>

    <p>Here you can change your profile data.</p>
    
    {% include 'hello/edit-ProfileModelForm.html' %}

{% endblock %}

{% block footer %}
    <a href="{% url 'requests' %}">HTTP requests</a>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    {{form.media}}
    <script type="text/javascript" src="{% static 'js/profileupdate.form.js' %}"></script>
{% endblock footer %}
