/* Base styles. */
html {
    background: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: tahoma, arial, verdana, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 18px;
}

a {
    color: #990000;
}

p {
    margin: 20px 0;
}

input[type=submit] {
    margin: 0;
    padding: 7px 25px;
    text-align: center;
    text-transform: uppercase;
    background: #000000;
    color: #ffffff;
    font-weight: normal;
    border: none;
    cursor: pointer;
}

textarea {
    padding: 7px 15px;
}

#content {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -50px 0;
    padding: 0;
}

#content > .inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}

#content > .inner > h1 {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 20px 0;
}

#footer {
    text-align: center;
}

.footer-push, #footer {
    height: 50px;
    margin: 0;
    padding: 0;
}

.hd {
    display: none;
}

/* Profile styling. */
.profile {
    display: inline-block;
    width: 100%;
}
.profile > div {
    float: left;
}
.profile > div.left {
    width: 30%;
}
.profile > div.right {
    width: 70%;
}
.profile > div p.head {
    margin: 0;
    padding: 7px 15px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    min-height: 18px;
}
.profile > div ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.profile > div ul > li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.profile > div ul > li:after {
    content: " ";
    display: table;
    clear: both;
}
.profile > div ul > li > p,
.profile > div ul > li > div {
    margin: 0;
    padding: 7px 15px;
    float: left;
    box-sizing: border-box;
}
.profile > div ul > li > div p {
    margin: 0;
}
.profile > div.left ul > li > p {
    width: 42%
}
.profile > div.left ul > li > div {
    width: 58%;
}
.profile > div.right ul > li > p {
    width: 20%
}
.profile > div.right ul > li > div {
    width: 80%;
}
.profile > div ul > li.photo > div {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    float: none;
    clear: both;
    margin: 7px 15px;
    padding: 0;
}
.profile > div ul > li.photo.with > div {
    border: none;
}
.profile > div ul > li.photo img {
    max-width: 200px;
}
.profile p.edit {
    margin: 0;
    padding: 7px 15px;
    clear: both;
}

/* Breadcrumbs styling. */
ul.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    float: right;
}
ul.breadcrumbs > li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    font-size: 11px;
}

/* Tables styling. */
table.rp {
    border-spacing: 0px;
    width: 100%;
}
table.rp th {
    text-align: left;
    text-transform: uppercase;
    padding: 7px 15px;
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
}
table.rp tr.new {
    color: #006600;
}
table.rp tr td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 7px 15px;
}
table.rp tr:last-child td {
    border-bottom: 0px;
}
table.rp tr td:last-child {
    border-right: 0px;
}
table.rp tr td:nth-child(even) {
    text-align: justify;
}

/* Auth block. */
.auth {
    float: right;
    margin: 12px 0;
    font-size: 13px;
}

/* Fileds list in form. */
ul.fields {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}
ul.fields > li {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}
ul.fields > li input {
    display: block;
    padding: 7px 15px;
    margin: 3px 0 0 0;
    min-width: 30%;
}
ul.errorlist > li {
    color: red;
    font-size: 13px;
}

/* Errors. */
p.er {
    color: #F00;
    font-size: 13px;
    background: #ffcccc;
    padding: 7px 15px;
    margin: 0px;
    display: inline-block;
}